.idea
*.mat
*.txt
*.zip
*.npz
/develop/
build
dist
kgcnn.egg-info
/legacy/
/training/.ipynb_checkpoints/
/develop/old_traing/
/training/Mutagenicity/GraphSAGE/model*/
/training/MUTAG/INorp/model*/
/training/MUTAG/Unet/model*/
/training/Cora/GCN/model*/
/training/QM9/Schnet/model*/
/training/PROTEINS/GIN/model*/
/training/Lipop/PAiNN/model*/
/training/ESOL/PAiNN/model*/
/training/ESOL/GIN/model*/
/training/QM9/PAiNN/model*/
/training/QM9/DimeNetPP/model*/
/training/QM9/Megnet/model*/
/training/ESOL/AttentiveFP/model*/
/training/Lipop/AttentiveFP/model*/
/training/cora_lu/GAT/model*/
/notebooks/ExampleMol/
/notebooks/ExampleMol/*
/notebooks/gcn_explain_*.png
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints/*
