.idea
*.mat
*.txt
*.zip
*.png
/develop/
build
dist
kgcnn.egg-info
/legacy/
/examples/.ipynb_checkpoints/
/examples/old/kt_test/
/examples/PROTEINS/
/examples/Mutagenicity/
/examples/Lipop/
/examples/MUTAG/
/examples/Cora/
